//-------------- SECTIONS -----------




//-------------- TITLES SECTION -----------
.brave-link {
    color: var(--color-palette-02);
    text-decoration: none;

    :hover {
        text-decoration: none;
        text-transform: none;
        color: var(--color-palette-02);
    }
}